In [34]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder

In [35]:
boxscores_advanced = pd.read_pickle('boxscores_advanced_team_2000.pkl')

In [36]:
boxscores_basic = pd.read_pickle('raw_games_5yrs.pkl')

In [37]:
boxscores_basic.sort_values('GAME_DATE', ascending=False)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,HOME_TEAM
0,22022,1610612751,BKN,Brooklyn Nets,22200965,2023-03-05,BKN vs. CHA,W,241,102,...,8.0,44.0,52.0,21,5.0,9,5,12,16.0,1
0,22022,1610612742,DAL,Dallas Mavericks,22200962,2023-03-05,DAL vs. PHX,L,239,126,...,5.0,26.0,31.0,15,5.0,0,10,22,-4.0,1
0,22022,1610612757,POR,Portland Trail Blazers,22200966,2023-03-05,POR @ ORL,W,240,122,...,9.0,37.0,46.0,27,9.0,5,17,22,3.0,0
0,22022,1610612760,OKC,Oklahoma City Thunder,22200968,2023-03-05,OKC vs. UTA,W,241,129,...,11.0,31.0,42.0,24,9.0,4,12,20,10.0,1
0,22022,1610612738,BOS,Boston Celtics,22200969,2023-03-05,BOS vs. NYK,L,289,129,...,17.0,37.0,54.0,27,8.0,5,16,28,-2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,22017,1610612756,PHX,Phoenix Suns,21700952,2018-03-05,PHX @ MIA,L,239,103,...,12.0,28.0,40.0,21,3.0,2,17,20,-22.0,0
459,22017,1610612759,SAS,San Antonio Spurs,21700954,2018-03-05,SAS vs. MEM,W,239,100,...,4.0,32.0,36.0,18,14.0,4,11,10,2.0,1
431,22017,1610612765,DET,Detroit Pistons,21700950,2018-03-05,DET @ CLE,L,239,90,...,8.0,32.0,40.0,17,9.0,6,11,22,-22.0,0
472,22017,1610612757,POR,Portland Trail Blazers,21700956,2018-03-05,POR @ LAL,W,240,108,...,7.0,43.0,50.0,19,6.0,5,14,25,5.0,0
508,22017,1610612738,BOS,Boston Celtics,21700953,2018-03-05,BOS @ CHI,W,240,105,...,12.0,41.0,53.0,25,7.0,4,18,13,16.0,0

In [38]:
features_adv_team = ['TEAM_ID', 'OFF_RATING', 'DEF_RATING', 'NET_RATING', 
            'AST_PCT', 'AST_TOV', 'OREB_PCT', 'DREB_PCT', 'REB_PCT', 
            'TM_TOV_PCT', 'EFG_PCT', 'TS_PCT', 'PACE', 'POSS', 'HOME_TEAM']
non_features_columns = ['GAME_ID', 'TEAM_ABBREVIATION', 'PLUS_MINUS']
df_features = ['GAME_ID', 'TEAM_ABBREVIATION', 'OFF_RATING', 'DEF_RATING', 'NET_RATING', 
            'AST_PCT', 'AST_TOV', 'OREB_PCT', 'DREB_PCT', 'REB_PCT', 
            'TM_TOV_PCT', 'EFG_PCT', 'TS_PCT', 'PACE', 'POSS', 'HOME_TEAM', 'PLUS_MINUS']

In [39]:
boxscores_basic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13700 entries, 0 to 430
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SEASON_ID          13700 non-null  object
 1   TEAM_ID            13700 non-null  int64
 2   TEAM_ABBREVIATION  13700 non-null  object
 3   TEAM_NAME          13700 non-null  object
 4   GAME_ID            13700 non-null  int32
 5   GAME_DATE          13700 non-null  datetime64[ns]
 6   MATCHUP            13700 non-null  object
 7   WL                 13700 non-null  object
 8   MIN                13700 non-null  int64
 9   PTS                13700 non-null  int64
 10  FGM                13700 non-null  int64
 11  FGA                13700 non-null  int64
 12  FG_PCT             13700 non-null  float64
 13  FG3M               13700 non-null  int64
 14  FG3A               13700 non-null  float64
 15  FG3_PCT            13700 non-null  float64
 16  FTM                13700 non-null  int64
 17  FTA                13700 non-null  int64
 18  FT_PCT             13700 non-null  float64
 19  OREB               13700 non-null  float64
 20  DREB               13700 non-null  float64
 21  REB                13700 non-null  float64
 22  AST                13700 non-null  int64
 23  STL                13700 non-null  float64
 24  BLK                13700 non-null  int64
 25  TOV                13700 non-null  int64
 26  PF                 13700 non-null  int64
 27  PLUS_MINUS         13700 non-null  float64
 28  HOME_TEAM          13700 non-null  int64
dtypes: datetime64[ns](1), float64(9), int32(1), int64(13), object(5)
memory usage: 3.1+ MB

In [40]:
boxscores_advanced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1996 entries, 4 to 1999
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GAME_ID            1996 non-null   object
 1   TEAM_ID            1996 non-null   int64
 2   TEAM_NAME          1996 non-null   object
 3   TEAM_ABBREVIATION  1996 non-null   object
 4   TEAM_CITY          1996 non-null   object
 5   MIN                1996 non-null   object
 6   E_OFF_RATING       1996 non-null   float64
 7   OFF_RATING         1996 non-null   float64
 8   E_DEF_RATING       1996 non-null   float64
 9   DEF_RATING         1996 non-null   float64
 10  E_NET_RATING       1996 non-null   float64
 11  NET_RATING         1996 non-null   float64
 12  AST_PCT            1996 non-null   float64
 13  AST_TOV            1996 non-null   float64
 14  AST_RATIO          1996 non-null   float64
 15  OREB_PCT           1996 non-null   float64
 16  DREB_PCT           1996 non-null   float64
 17  REB_PCT            1996 non-null   float64
 18  E_TM_TOV_PCT       1996 non-null   float64
 19  TM_TOV_PCT         1996 non-null   float64
 20  EFG_PCT            1996 non-null   float64
 21  TS_PCT             1996 non-null   float64
 22  USG_PCT            1996 non-null   float64
 23  E_USG_PCT          1996 non-null   float64
 24  E_PACE             1996 non-null   float64
 25  PACE               1996 non-null   float64
 26  PACE_PER40         1996 non-null   float64
 27  POSS               1996 non-null   int64
 28  PIE                1996 non-null   float64
dtypes: float64(22), int64(2), object(5)
memory usage: 452.3+ KB

In [41]:
boxscores_advanced['GAME_ID'] = boxscores_advanced['GAME_ID'].astype('int32')

In [42]:
temp_df = boxscores_basic[['GAME_ID', 'TEAM_ABBREVIATION', 'PLUS_MINUS', 'HOME_TEAM']]
temp_df

      GAME_ID TEAM_ABBREVIATION  PLUS_MINUS  HOME_TEAM
0    22200958               ATL        -8.0          0
1    22200947               ATL        18.0          1
2    22200923               ATL        -3.0          1
3    22200911               ATL         2.0          1
4    22200896               ATL        17.0          1
..        ...               ...         ...        ...
426  21701021               CHA        12.0          0
427  21701011               CHA        -4.0          0
428  21700987               CHA         5.0          1
429  21700972               CHA       -11.0          1
430  21700957               CHA       -14.0          1

[13700 rows x 4 columns]

In [43]:
boxscores_advanced = boxscores_advanced.merge(temp_df, on=['GAME_ID', 'TEAM_ABBREVIATION'])

In [44]:
boxscores_advanced.reset_index(drop=True, inplace=True)

In [45]:
boxscores_advanced

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,...,TS_PCT,USG_PCT,E_USG_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE,PLUS_MINUS,HOME_TEAM
0,22200973,1610612764,Wizards,WAS,Washington,240:00,108.5,111.0,119.8,114.7,...,0.490,1.0,0.198,99.98,101.0,84.17,100,0.443,-6.0,1
1,22200973,1610612749,Bucks,MIL,Milwaukee,240:00,119.8,114.7,108.5,111.0,...,0.631,1.0,0.201,99.98,101.0,84.17,102,0.557,6.0,0
2,22200964,1610612747,Lakers,LAL,Los Angeles,240:00,109.0,114.1,100.1,106.1,...,0.540,1.0,0.197,104.30,99.0,82.50,99,0.556,8.0,1
3,22200964,1610612744,Warriors,GSW,Golden State,240:00,100.1,106.1,109.0,114.1,...,0.531,1.0,0.197,104.30,99.0,82.50,99,0.444,-8.0,0
4,22200962,1610612756,Suns,PHX,Phoenix,240:00,130.0,134.0,127.6,128.6,...,0.650,1.0,0.200,99.36,97.5,81.25,97,0.539,4.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1991,12200046,1610612743,Nuggets,DEN,Denver,240:00,107.2,111.5,105.7,109.4,...,0.547,1.0,0.200,99.58,96.0,80.00,96,0.483,2.0,1
1992,12200045,1610612748,Heat,MIA,Miami,240:00,108.8,111.3,100.5,102.8,...,0.560,1.0,0.199,108.96,106.5,88.75,106,0.550,8.0,1
1993,12200045,1610612745,Rockets,HOU,Houston,240:00,100.5,102.8,108.8,111.3,...,0.558,1.0,0.198,108.96,106.5,88.75,107,0.450,-8.0,0
1994,12200044,1610612755,76ers,PHI,Philadelphia,240:00,114.2,114.1,97.7,99.0,...,0.571,1.0,0.198,99.10,98.5,82.08,99,0.555,16.0,0
1995,12200044,1610612739,Cavaliers,CLE,Cleveland,240:00,97.7,99.0,114.2,114.1,...,0.514,1.0,0.198,99.10,98.5,82.08,98,0.445,-16.0,1

In [46]:
boxscores_advanced_sorted = boxscores_advanced.sort_values(['GAME_ID', 'HOME_TEAM'])

In [47]:
boxscores_advanced_sorted = boxscores_advanced_sorted[df_features]
boxscores_advanced_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1996 entries, 1988 to 0
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GAME_ID            1996 non-null   int32
 1   TEAM_ABBREVIATION  1996 non-null   object
 2   OFF_RATING         1996 non-null   float64
 3   DEF_RATING         1996 non-null   float64
 4   NET_RATING         1996 non-null   float64
 5   AST_PCT            1996 non-null   float64
 6   AST_TOV            1996 non-null   float64
 7   OREB_PCT           1996 non-null   float64
 8   DREB_PCT           1996 non-null   float64
 9   REB_PCT            1996 non-null   float64
 10  TM_TOV_PCT         1996 non-null   float64
 11  EFG_PCT            1996 non-null   float64
 12  TS_PCT             1996 non-null   float64
 13  PACE               1996 non-null   float64
 14  POSS               1996 non-null   int64
 15  HOME_TEAM          1996 non-null   int64
 16  PLUS_MINUS         1996 non-null   float64
dtypes: float64(13), int32(1), int64(2), object(1)
memory usage: 272.9+ KB

In [48]:
bsa_away = boxscores_advanced_sorted.iloc[::2].reset_index(drop=True)
columns = bsa_away.columns.tolist()

In [49]:
bsa_home = boxscores_advanced_sorted.iloc[1::2].reset_index(drop=True)

In [50]:
columns_away = {}
columns_home = {}
for column in columns:
    if column == 'GAME_ID':
        continue
    columns_away[column] = column + '_a'
    columns_home[column] = column + '_h'

In [51]:
bsa_away.rename(columns=columns_away, inplace=True)
bsa_home.rename(columns=columns_home, inplace=True)

In [52]:
merged_df = bsa_home.merge(bsa_away, on=['GAME_ID'])

In [53]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 998 entries, 0 to 997
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   GAME_ID              998 non-null    int32
 1   TEAM_ABBREVIATION_h  998 non-null    object
 2   OFF_RATING_h         998 non-null    float64
 3   DEF_RATING_h         998 non-null    float64
 4   NET_RATING_h         998 non-null    float64
 5   AST_PCT_h            998 non-null    float64
 6   AST_TOV_h            998 non-null    float64
 7   OREB_PCT_h           998 non-null    float64
 8   DREB_PCT_h           998 non-null    float64
 9   REB_PCT_h            998 non-null    float64
 10  TM_TOV_PCT_h         998 non-null    float64
 11  EFG_PCT_h            998 non-null    float64
 12  TS_PCT_h             998 non-null    float64
 13  PACE_h               998 non-null    float64
 14  POSS_h               998 non-null    int64
 15  HOME_TEAM_h          998 non-null    int64
 16  PLUS_MINUS_h         998 non-null    float64
 17  TEAM_ABBREVIATION_a  998 non-null    object
 18  OFF_RATING_a         998 non-null    float64
 19  DEF_RATING_a         998 non-null    float64
 20  NET_RATING_a         998 non-null    float64
 21  AST_PCT_a            998 non-null    float64
 22  AST_TOV_a            998 non-null    float64
 23  OREB_PCT_a           998 non-null    float64
 24  DREB_PCT_a           998 non-null    float64
 25  REB_PCT_a            998 non-null    float64
 26  TM_TOV_PCT_a         998 non-null    float64
 27  EFG_PCT_a            998 non-null    float64
 28  TS_PCT_a             998 non-null    float64
 29  PACE_a               998 non-null    float64
 30  POSS_a               998 non-null    int64
 31  HOME_TEAM_a          998 non-null    int64
 32  PLUS_MINUS_a         998 non-null    float64
dtypes: float64(26), int32(1), int64(4), object(2)
memory usage: 261.2+ KB

In [54]:
merged_df.drop('PLUS_MINUS_a', axis=1, inplace=True)

In [55]:
merged_df.rename(columns={'PLUS_MINUS_h': 'PLUS_MINUS_h-a'}, inplace=True)

In [56]:
merged_df.columns

Index(['GAME_ID', 'TEAM_ABBREVIATION_h', 'OFF_RATING_h', 'DEF_RATING_h',
       'NET_RATING_h', 'AST_PCT_h', 'AST_TOV_h', 'OREB_PCT_h', 'DREB_PCT_h',
       'REB_PCT_h', 'TM_TOV_PCT_h', 'EFG_PCT_h', 'TS_PCT_h', 'PACE_h',
       'POSS_h', 'HOME_TEAM_h', 'PLUS_MINUS_h-a', 'TEAM_ABBREVIATION_a',
       'OFF_RATING_a', 'DEF_RATING_a', 'NET_RATING_a', 'AST_PCT_a',
       'AST_TOV_a', 'OREB_PCT_a', 'DREB_PCT_a', 'REB_PCT_a', 'TM_TOV_PCT_a',
       'EFG_PCT_a', 'TS_PCT_a', 'PACE_a', 'POSS_a', 'HOME_TEAM_a'],
      dtype='object')

In [59]:
X_features_num = ['OFF_RATING_h', 'DEF_RATING_h',
       'NET_RATING_h', 'AST_PCT_h', 'AST_TOV_h', 'OREB_PCT_h', 'DREB_PCT_h',
       'REB_PCT_h', 'TM_TOV_PCT_h', 'EFG_PCT_h', 'TS_PCT_h', 'PACE_h',
       'POSS_h', 'HOME_TEAM_h',
       'OFF_RATING_a', 'DEF_RATING_a', 'NET_RATING_a', 'AST_PCT_a',
       'AST_TOV_a', 'OREB_PCT_a', 'DREB_PCT_a', 'REB_PCT_a', 'TM_TOV_PCT_a',
       'EFG_PCT_a', 'TS_PCT_a', 'PACE_a', 'POSS_a', 'HOME_TEAM_a']

X_features_cat = ['TEAM_ABBREVIATION_h', 'TEAM_ABBREVIATION_a']

X_features_all = ['TEAM_ABBREVIATION_h', 'OFF_RATING_h', 'DEF_RATING_h',
       'NET_RATING_h', 'AST_PCT_h', 'AST_TOV_h', 'OREB_PCT_h', 'DREB_PCT_h',
       'REB_PCT_h', 'TM_TOV_PCT_h', 'EFG_PCT_h', 'TS_PCT_h', 'PACE_h',
       'POSS_h', 'HOME_TEAM_h', 'TEAM_ABBREVIATION_a',
       'OFF_RATING_a', 'DEF_RATING_a', 'NET_RATING_a', 'AST_PCT_a',
       'AST_TOV_a', 'OREB_PCT_a', 'DREB_PCT_a', 'REB_PCT_a', 'TM_TOV_PCT_a',
       'EFG_PCT_a', 'TS_PCT_a', 'PACE_a', 'POSS_a', 'HOME_TEAM_a']

In [67]:
X = merged_df[X_features_all]
y = merged_df['PLUS_MINUS_h-a']

In [68]:
scaler = MinMaxScaler()
X[X_features_num] = scaler.fit_transform(X[X_features_num])

/tmp/ipykernel_19930/2320917981.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[X_features_num] = scaler.fit_transform(X[X_features_num])

In [69]:
ohe = OneHotEncoder(sparse=False)
ohe.fit(X[X_features_cat])
cols = [str(team) +'_h' for team in ohe.categories_[0]] + [str(team) +'_a' for team in ohe.categories_[1]]

/home/alec/.pyenv/versions/nba_betting_analysis/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [70]:
X[cols]=ohe.transform(X[X_features_cat])

/tmp/ipykernel_19930/3783534222.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[cols]=ohe.transform(X[X_features_cat])

In [74]:
X.columns

Index(['TEAM_ABBREVIATION_h', 'OFF_RATING_h', 'DEF_RATING_h', 'NET_RATING_h',
       'AST_PCT_h', 'AST_TOV_h', 'OREB_PCT_h', 'DREB_PCT_h', 'REB_PCT_h',
       'TM_TOV_PCT_h', 'EFG_PCT_h', 'TS_PCT_h', 'PACE_h', 'POSS_h',
       'HOME_TEAM_h', 'TEAM_ABBREVIATION_a', 'OFF_RATING_a', 'DEF_RATING_a',
       'NET_RATING_a', 'AST_PCT_a', 'AST_TOV_a', 'OREB_PCT_a', 'DREB_PCT_a',
       'REB_PCT_a', 'TM_TOV_PCT_a', 'EFG_PCT_a', 'TS_PCT_a', 'PACE_a',
       'POSS_a', 'HOME_TEAM_a', 'ATL_h', 'BKN_h', 'BOS_h', 'CHA_h', 'CHI_h',
       'CLE_h', 'DAL_h', 'DEN_h', 'DET_h', 'GSW_h', 'HOU_h', 'IND_h', 'LAC_h',
       'LAL_h', 'MEM_h', 'MIA_h', 'MIL_h', 'MIN_h', 'NOP_h', 'NYK_h', 'OKC_h',
       'ORL_h', 'PHI_h', 'PHX_h', 'POR_h', 'SAC_h', 'SAS_h', 'TOR_h', 'UTA_h',
       'WAS_h', 'ATL_a', 'BKN_a', 'BOS_a', 'CHA_a', 'CHI_a', 'CLE_a', 'DAL_a',
       'DEN_a', 'DET_a', 'GSW_a', 'HOU_a', 'IND_a', 'LAC_a', 'LAL_a', 'MEM_a',
       'MIA_a', 'MIL_a', 'MIN_a', 'NOP_a', 'NYK_a', 'OKC_a', 'ORL_a', 'PHI_a',
       'PHX_a', 'POR_a', 'SAC_a', 'SAS_a', 'TOR_a', 'UTA_a', 'WAS_a'],
      dtype='object')

In [72]:
X.to_pickle('X_1000.pkl')

In [73]:
y.to_pickle('y_1000.pkl')