In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests

In [2]:
from nba_api.stats.static import teams
nba_teams = teams.get_teams()
team_names = [team['full_name'] for team in nba_teams]
team_names.sort()
team_ids = [team['id'] for team in nba_teams]

In [3]:
from nba_api.stats.endpoints import leaguegamefinder
games = None
for ids in team_ids:
    if games is None:
        gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=ids)
        games = gamefinder.get_data_frames()[0]
    else:
        gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=ids)
        games = pd.concat([games, gamefinder.get_data_frames()[0]])

In [4]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102167 entries, 0 to 2862
Data columns (total 28 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   SEASON_ID          102167 non-null  object
 1   TEAM_ID            102167 non-null  int64
 2   TEAM_ABBREVIATION  102167 non-null  object
 3   TEAM_NAME          102167 non-null  object
 4   GAME_ID            102167 non-null  object
 5   GAME_DATE          102167 non-null  object
 6   MATCHUP            102167 non-null  object
 7   WL                 102142 non-null  object
 8   MIN                102167 non-null  int64
 9   PTS                102167 non-null  int64
 10  FGM                102167 non-null  int64
 11  FGA                102167 non-null  int64
 12  FG_PCT             102160 non-null  float64
 13  FG3M               102167 non-null  int64
 14  FG3A               102165 non-null  float64
 15  FG3_PCT            101122 non-null  float64
 16  FTM                102167 non-null  int64
 17  FTA                102167 non-null  int64
 18  FT_PCT             102157 non-null  float64
 19  OREB               102163 non-null  float64
 20  DREB               102163 non-null  float64
 21  REB                102166 non-null  float64
 22  AST                102167 non-null  int64
 23  STL                102165 non-null  float64
 24  BLK                102167 non-null  int64
 25  TOV                102167 non-null  int64
 26  PF                 102167 non-null  int64
 27  PLUS_MINUS         72463 non-null   float64
dtypes: float64(9), int64(12), object(7)
memory usage: 22.6+ MB

In [5]:
games['GAME_DATE'] = pd.to_datetime(games['GAME_DATE'])

In [6]:
games = games[games['GAME_DATE'] > "2022-09-01"].sort_values(by='GAME_DATE', ascending=False)

In [7]:
# games.groupby('TEAM_ID').apply(lambda x: x)

In [8]:
games.reset_index(drop=True, inplace=True)

In [9]:
data = games

In [10]:
data

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22022,1610612737,ATL,Atlanta Hawks,0022200974,2023-03-06,ATL @ MIA,None,227,122,...,0.739,12.0,25.0,37.0,26,5.0,0,9,22,0.6
1,22022,1610612754,IND,Indiana Pacers,0022200972,2023-03-06,IND vs. PHI,L,240,143,...,0.710,5.0,25.0,30.0,28,8.0,4,9,24,2.0
2,22022,1610612757,POR,Portland Trail Blazers,0022200977,2023-03-06,POR @ DET,W,239,110,...,0.760,5.0,33.0,38.0,28,7.0,6,11,17,13.4
3,22022,1610612748,MIA,Miami Heat,0022200974,2023-03-06,MIA vs. ATL,W,241,130,...,0.865,8.0,24.0,32.0,27,6.0,4,11,17,2.0
4,22022,1610612761,TOR,Toronto Raptors,0022200975,2023-03-06,TOR @ DEN,None,121,61,...,0.900,7.0,17.0,24.0,14,2.0,3,7,7,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2080,12022,1610612749,MIL,Milwaukee Bucks,0012200003,2022-10-01,MIL vs. MEM,L,240,102,...,0.714,17.0,33.0,50.0,22,10.0,3,23,29,-5.0
2081,12022,1610612763,MEM,Memphis Grizzlies,0012200003,2022-10-01,MEM @ MIL,W,239,107,...,0.724,10.0,31.0,41.0,25,13.0,4,22,19,5.0
2082,12022,1610612744,GSW,Golden State Warriors,0012200001,2022-09-30,GSW @ WAS,W,239,96,...,0.775,10.0,52.0,62.0,18,6.0,3,17,27,9.0
2083,12022,1610612746,LAC,LA Clippers,0012200002,2022-09-30,LAC vs. MRA,W,242,121,...,0.698,15.0,40.0,55.0,27,9.0,6,23,23,44.2
2084,12022,1610612764,WAS,Washington Wizards,0012200001,2022-09-30,WAS vs. GSW,L,240,87,...,0.633,7.0,37.0,44.0,20,12.0,10,14,27,-9.0

In [ ]:
X = data.drop(columns=['PLUS_MINUS'])
y = data.PLUS_MINUS

In [15]:
df = pd.read_pickle('raw_games_5yrs.pkl')

In [16]:
df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,HOME_TEAM
0,22022,1610612737,ATL,Atlanta Hawks,22200958,2023-03-04,ATL @ MIA,L,239,109,...,10.0,27.0,37.0,22,12.0,1,16,23,-8.0,0
1,22022,1610612737,ATL,Atlanta Hawks,22200947,2023-03-03,ATL vs. POR,W,239,129,...,10.0,33.0,43.0,30,10.0,5,17,19,18.0,1
2,22022,1610612737,ATL,Atlanta Hawks,22200923,2023-02-28,ATL vs. WAS,L,239,116,...,13.0,29.0,42.0,21,4.0,7,9,17,-3.0,1
3,22022,1610612737,ATL,Atlanta Hawks,22200911,2023-02-26,ATL vs. BKN,W,240,129,...,13.0,33.0,46.0,20,7.0,2,15,18,2.0,1
4,22022,1610612737,ATL,Atlanta Hawks,22200896,2023-02-24,ATL vs. CLE,W,240,136,...,5.0,37.0,42.0,28,7.0,8,14,21,17.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,22017,1610612766,CHA,Charlotte Hornets,21701021,2018-03-15,CHA @ ATL,W,239,129,...,6.0,39.0,45.0,30,3.0,3,10,21,12.0,0
427,22017,1610612766,CHA,Charlotte Hornets,21701011,2018-03-13,CHA @ NOP,L,241,115,...,8.0,37.0,45.0,22,8.0,9,13,13,-4.0,0
428,22017,1610612766,CHA,Charlotte Hornets,21700987,2018-03-10,CHA vs. PHX,W,239,122,...,7.0,34.0,41.0,24,11.0,5,12,18,5.0,1
429,22017,1610612766,CHA,Charlotte Hornets,21700972,2018-03-08,CHA vs. BKN,L,241,111,...,6.0,30.0,36.0,19,5.0,5,13,21,-11.0,1
430,22017,1610612766,CHA,Charlotte Hornets,21700957,2018-03-06,CHA vs. PHI,L,239,114,...,8.0,25.0,33.0,26,7.0,5,10,12,-14.0,1

In [17]:
X = df.drop(columns=['PLUS_MINUS'])
y = df.PLUS_MINUS

In [18]:
X.dtypes.value_counts()

int64             13
float64            8
object             5
int32              1
datetime64[ns]     1
dtype: int64

In [19]:
feat_categorical_nunique = X.select_dtypes(include='object').nunique()

In [21]:
feat_categorical_nunique

SEASON_ID              19
TEAM_ABBREVIATION      30
TEAM_NAME              30
MATCHUP              1777
WL                      2
dtype: int64

In [20]:
feat_categorical_nunique.sum()

1858

In [22]:
X.drop(columns=['WL'], inplace=True)

In [24]:
X

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,MIN,PTS,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,HOME_TEAM
0,22022,1610612737,ATL,Atlanta Hawks,22200958,2023-03-04,ATL @ MIA,239,109,37,...,0.867,10.0,27.0,37.0,22,12.0,1,16,23,0
1,22022,1610612737,ATL,Atlanta Hawks,22200947,2023-03-03,ATL vs. POR,239,129,52,...,0.813,10.0,33.0,43.0,30,10.0,5,17,19,1
2,22022,1610612737,ATL,Atlanta Hawks,22200923,2023-02-28,ATL vs. WAS,239,116,43,...,0.895,13.0,29.0,42.0,21,4.0,7,9,17,1
3,22022,1610612737,ATL,Atlanta Hawks,22200911,2023-02-26,ATL vs. BKN,240,129,45,...,0.821,13.0,33.0,46.0,20,7.0,2,15,18,1
4,22022,1610612737,ATL,Atlanta Hawks,22200896,2023-02-24,ATL vs. CLE,240,136,50,...,0.913,5.0,37.0,42.0,28,7.0,8,14,21,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,22017,1610612766,CHA,Charlotte Hornets,21701021,2018-03-15,CHA @ ATL,239,129,46,...,0.667,6.0,39.0,45.0,30,3.0,3,10,21,0
427,22017,1610612766,CHA,Charlotte Hornets,21701011,2018-03-13,CHA @ NOP,241,115,45,...,0.818,8.0,37.0,45.0,22,8.0,9,13,13,0
428,22017,1610612766,CHA,Charlotte Hornets,21700987,2018-03-10,CHA vs. PHX,239,122,44,...,0.778,7.0,34.0,41.0,24,11.0,5,12,18,1
429,22017,1610612766,CHA,Charlotte Hornets,21700972,2018-03-08,CHA vs. BKN,241,111,41,...,0.833,6.0,30.0,36.0,19,5.0,5,13,21,1
430,22017,1610612766,CHA,Charlotte Hornets,21700957,2018-03-06,CHA vs. PHI,239,114,40,...,0.742,8.0,25.0,33.0,26,7.0,5,10,12,1

In [29]:
X[['TEAM_ID', 'TEAM_NAME']]

        TEAM_ID          TEAM_NAME
0    1610612737      Atlanta Hawks
1    1610612737      Atlanta Hawks
2    1610612737      Atlanta Hawks
3    1610612737      Atlanta Hawks
4    1610612737      Atlanta Hawks
..          ...                ...
426  1610612766  Charlotte Hornets
427  1610612766  Charlotte Hornets
428  1610612766  Charlotte Hornets
429  1610612766  Charlotte Hornets
430  1610612766  Charlotte Hornets

[13700 rows x 2 columns]

In [37]:
map_id_name = X[['TEAM_ID', 'TEAM_NAME']].drop_duplicates().reset_index(drop=True)

In [38]:
map_id_name

       TEAM_ID               TEAM_NAME
0   1610612737           Atlanta Hawks
1   1610612738          Boston Celtics
2   1610612739     Cleveland Cavaliers
3   1610612740    New Orleans Pelicans
4   1610612741           Chicago Bulls
5   1610612742        Dallas Mavericks
6   1610612743          Denver Nuggets
7   1610612744   Golden State Warriors
8   1610612745         Houston Rockets
9   1610612746             LA Clippers
10  1610612747      Los Angeles Lakers
11  1610612748              Miami Heat
12  1610612749         Milwaukee Bucks
13  1610612750  Minnesota Timberwolves
14  1610612751           Brooklyn Nets
15  1610612752         New York Knicks
16  1610612753           Orlando Magic
17  1610612754          Indiana Pacers
18  1610612755      Philadelphia 76ers
19  1610612756            Phoenix Suns
20  1610612757  Portland Trail Blazers
21  1610612758        Sacramento Kings
22  1610612759       San Antonio Spurs
23  1610612760   Oklahoma City Thunder
24  1610612761         Toronto Raptors
25  1610612762               Utah Jazz
26  1610612763       Memphis Grizzlies
27  1610612764      Washington Wizards
28  1610612765         Detroit Pistons
29  1610612766       Charlotte Hornets